html,body
{
    height:100%;
    width:100%;
    overflow-x: clip;
    font-family: 'Open Sans', sans-serif;
}

#ToolNav
{
    left:0;
    top:50px;
    width:34px;
    height:100%;
    background-color: black;
    position: fixed;
}

#FileNav
{
    left:0;
    top:0;
    width:100%;
    height:50px;
    background-color: black;
    position:fixed;
}

#editor
{
    position:fixed;
    left:34;
    top:50px;
}