body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.navbar {
    background-color: #150d15;
    overflow: hidden;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #515151;
}

.navbar-brand {
    float: left;
    font-size: 24px;
    margin-right: 20px;
}

.navbar-links {
    float:right;
}

.navPFP
{
    height:48px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

#navProfile
{
    display: flex;
    align-items: center;
    float:right;
    color:white;
    transition: all .5s;
}

#navProfile:hover
{
background-color: #515151;
}
